<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <script src="/js/todoItemHandler.js" charset="utf-8"></script>
    <script src="/js/showTodoItems.js" charset="utf-8"></script>
    <title></title>
  </head>
  <body>
    <h1 id="uniq_title"><a href="/home"> << </a>${title}</h1>
    <h3 id="description">${description}</h3>
    <input id="itemText" type="text">
    <button onclick="createItem()">create</button><br>
    <a href="/logout">Logout</a>
    <div class="items">
      Todo Items
      <br>
    </div>
  </body>
</html>
